<p></p>
<div class="container">

<div class="panel panel-primary">
  <div class="panel-heading">Contacts</div>
  <div class="panel-body">

    <form #f="ngForm" (ngSubmit)="onSeach(f.value)">
      <div class="form-group">
        <label >Mot Clé:</label>
        <input type="text" name="motCle" ngModel required>
        <button type="submit" class="btn btn-primary">Chercher</button>

      </div>
    </form>
    <div *ngFor="let p of pagePhotos?.hits" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="panel panel-primary cadre" >
        <div class="panel panel-heading">
          <img class="img-circle" src="{{p.userImageURL}}"  width="50" height="50">
          </div>
        <div class="panel-body">
          
          <img src="{{p.previewURL}}" width="90" height="90" >
        </div>
      </div>

    </div>

    </div>
  </div>
  
  
  
  </div>
          
